@import "tailwindcss";

@theme{
  --font-roboto: 'Roboto', sans-serif;
  --animate-showing: show 0.3s ease-out
}

@keyframes show {
  from{
    left: -100%
  }
  to{
    left: 0
  }
}

:root{
  @apply font-roboto;
}

/* index.css */
.input {
  @apply w-full border px-4 py-2 rounded;
}
.btn-primary {
  @apply bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 w-full cursor-pointer;
}
