@import "tailwindcss";

@theme{
  --font-roboto: 'Roboto', sans-serif;
  --animate-showing: show 0.3s ease-out;
  --animate-revealing: reveal 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  --animate-timing: time 3s linear 0.5s forwards;
  --animate-fadingIn: fadeIn 1s ease-in-out forwards;
}

@keyframes show {
  from{
    left: -100%
  }
  to{
    left: 0
  }
}

:root{
  @apply font-roboto;
}

@keyframes reveal {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes time{
  from{
    width: 100%;
  }
  to{
    width: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* index.css */
.input {
  @apply w-full border px-4 py-2 rounded;
}
.btn-primary {
  @apply bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 w-full cursor-pointer;
}
